body {
    background:#eee;
}

#canvas {
    height:80vh;
    width:100%;
}

.square-button {
    width: 40px;  /* Width of the square */
    height: 40px; /* Height of the square */
    padding: 10px;
    margin: 2px;
    display: flex;         /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.btn-primary {
    background:#b8b2b2;
    border-color:#888282;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
    background:#888282;
}

.alert {
    position:absolute;
    bottom: 2rem;
    width:90%;
    left:50%;
    transform: translate(-50%, 0)
}

.alert .btn-close{
    position:absolute;
    right:1%;
}